#headerlogo {
    display: block;
    max-width:20vh;
    margin-left: auto;
    margin-right: auto;
}

.neon {
    text-align:center;
    font-weight: bold;
    font-size: 2em;
    color: #ffffff;
    text-shadow:
      0 0 5px #ffffff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #ffbd59,
      0 0 80px #ffbd59,
      0 0 90px #ffbd59,
      0 0 100px #ffbd59,
      0 0 150px #ffbd59;
  }
  