@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans:wght@500&display=swap");

#car-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
}

.form {
  color: #ffffff;
}

#banner {
  width: 100%;
}

#banner-small {
  height: 15%;
}

#error-text {
  display: block;
  margin: auto;
  color: white;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
  size: 0.8cm;
  margin-bottom: 2%;
}

.standard-text {
  display: block;
  margin: auto;
  margin-top: 10%;
  color: white;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
  size: 0.8cm;
  margin-bottom: 2%;
}

p {
  text-align: center;
  color: white;
}

#img-div {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 10%;
}

.login {
  display: flex;
  justify-content: center;
  margin: 5%;
}

button {
  background-color: transparent;
  color: #ffffff;
  border: 0.5px solid #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1em;
  padding: 3%;
}

a {
  text-decoration: none;
}

a:visited {
  color: #ffffff;
}

.container {
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-direction: column;
}
