@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans:wght@500&display=swap");

#car-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
}

.form {
  color: #ffffff;
}
/* 
#banner {
  width: 100%;
} */

#banner-small {
  height: 15%;
}

#error-text {
  display: block;
  margin: auto;
  color: white;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
  size: 0.8cm;
  margin-bottom: 2%;
}

.standard-text {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 10%;
  color: white;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
  size: 0.8cm;
  margin-bottom: 10%;
}

.form-input.standard-text {
  margin: 5%;
  text-align: center;
}

#login-title {
  margin-top: 5%;
}

h1,
p {
  font-weight: 200;
  color: #ffffff;
}

p {
  font-size: 1em;
}

h1 {
  font-size: 1.3em;
}

#img-div {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 10%;
}

.button {
  display: flex;
  justify-content: center;
  margin: 5%;
}

button:hover,
button:active {
  background-image: linear-gradient(to bottom right, white, #fbbf64);
  color: #090909;
  border-color: #090909;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: #ffffff;
  border: 0.5px solid #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1em;
  padding: 3%;
}

a {
  text-decoration: none;
}

a:visited {
  color: #ffffff;
}

.container {
  justify-content: center;
  display: flex;
  margin: auto;
  margin-top: 5%;
  align-items: center;
  flex-direction: column;
}

.submit-container.container {
  margin-top: 15%;
}

input#name,
input#email,
input#username,
input#password {
  padding: 2%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  /* background-color: #090909; */
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

select {
  width: 40%;
  height: 5vh;
  text-align-last: center;
}

select,
option {
  font-family: "Montserrat", sans-serif;
  color: #090909;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #img-div {
    margin-top: 5%;
  }
  .standard-text {
    margin-top: 5%;
    margin-bottom: 10%;
  }
  .form-input.standard-text {
    margin: 2%;
    text-align: center;
  }
  .submit-container.container {
    margin: 8% 0% 5% 0%;
  }
  .container.select-container {
    margin-top: 3%;
  }
}

/* Large devices (laptops/desktops, 992px and up */
@media only screen and (min-width: 992px) {
  #img-div {
    margin-top: 2%;
  }
  .standard-text {
    margin-top: 0%;
    margin-bottom: 5%;
  }
  p {
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .button {
    margin-top: 2%;
  }
  button {
    padding: 2%;
    margin: 0% 1% 0% 1%;
  }
  .container {
    margin-top: 0%;
  }
  .button-container.container,
  .submit-container.container {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
  }
}

/* extra-large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container.select-container {
    margin-top: 1%;
  }
}
