@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans:wght@500&display=swap");

#car-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
}

.form {
  color: #ffffff;
}
/* 
#banner {
  width: 100%;
} */

#banner-small {
  height: 15%;
}

#error-text {
  display: block;
  margin: auto;
  color: white;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
  size: 0.8cm;
  margin-bottom: 2%;
}

.standard-text {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 10%;
  color: white;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
  size: 0.8cm;
  margin-bottom: 10%;
}

.form-input.standard-text {
  margin:5%;;
  text-align:center;
}


#login-title {
  margin-top: 5%;
}

p {
  font-weight: 200;
  color: #ffffff;
}

#img-div {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 10%;
}

.button {
  display: flex;
  justify-content: center;
  margin: 5%;
}

button:hover, button:active {
  background-image: linear-gradient(to bottom right, white , #fbbf64);  
  color: #090909;
  border-color: #090909;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: #ffffff;
  border: 0.5px solid #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1em;
  padding: 3%;
}

a {
  text-decoration: none;
}

a:visited {
  color: #ffffff;
}

.container {
  justify-content: center;
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
}

.submit-container.container {
  margin-top: 15%;;
}


input#username, input#password {
  padding: 2%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  background-color: #090909;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}